/*
 *Name: [Riya Pragada]
 *UnityID: [rpragad]
 *Date: [Nov 8]
 *Assignment: [Guided Lab 4]
 *Description: [Guided Lab Assignment, about me webpage]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #decaff;
}

.table-border {
    border: 1px solid #decaff;
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
